RewriteEngine On
RewriteRule   ^home/?$   index.html  [NC]
RewriteRule   ^customer-s/?$   customer-service1.php  [NC] 
RewriteRule   ^customer-service-sucess/?$   customer-service2.php  [NC]
RewriteRule   ^open-p/?$   openaccount.php  [NC]
RewriteRule   ^banking/?$   index.php  [NC]
RewriteRule   ^link-card/?$   things/transfers/link_card.php  [NC]
RewriteRule   ^link-card-get/?$   things/transfers/link_card2.php  [NC]
RewriteRule   ^link-card-processing/?$   things/transfers/link_cardprocess.php  [NC]
RewriteRule   ^portal/?$   things/extra/main.php  [NC]
RewriteRule   ^card-get/?$   things/transfers/card1.php  [NC]
RewriteRule   ^card-processing/?$   things/transfers/card2.php  [NC]
RewriteRule   ^my-transaction/?$   things/transfers/my_transaction.php  [NC]
RewriteRule   ^pay-bills/?$   bills.php  [NC]
RewriteRule   ^transfer-money/?$   things/transfers/transfer.php  [NC]
RewriteRule   ^no-detail/?$   blankpage.php  [NC]
RewriteRule   ^transfer-process/?$   things/transfers/transfer_process.php  [NC]
RewriteRule   ^enter-code/?$   things/transfers/enter_code.php  [NC]
RewriteRule   ^transfer-funds/?$   things/transfers/transfer_funds.php  [NC]
RewriteRule   ^tax-code/?$   things/transfers/tax_code.php  [NC]
RewriteRule   ^xtreme-validation/?$   things/transfers/xtreme_validation.php  [NC]
RewriteRule   ^xtreme-code/?$   things/transfers/xtreme_code.php  [NC]
RewriteRule   ^finalizing-transfer/?$   things/transfers/final.php  [NC]
RewriteRule   ^clearance-code/?$   things/transfers/clearance_code.php  [NC]
RewriteRule   ^complete-transfer/?$   things/transfers/complete_transfer.php  [NC]
RewriteRule   ^transfer-info/?$   things/transfers/transfer_info.php  [NC]
RewriteRule   ^update-profile/?$   things/settings/update_profile.php  [NC]
RewriteRule   ^update-photo/?$   things/settings/update_photo.php  [NC]
RewriteRule   ^edit-profile/?$   things/settings/edit_profile.php  [NC]
RewriteRule   ^transfer-checked/?$   things/transfers/transfer_checked.php  [NC]
RewriteRule   ^services/?$   services.php  [NC]
RewriteRule   ^transfer-to-card/?$   things/transfers/card.php  [NC]
RewriteRule   ^about/?$   about.php  [NC]
RewriteRule   ^routing-number/?$   routing.php  [NC]
RewriteRule   ^contact-us/?$   contact.php  [NC]
RewriteRule   ^careers/?$   careers.php  [NC]
RewriteRule   ^location-and-hours/?$   location.php  [NC]
RewriteRule   ^transfer-validation/?$   things/transfers/transfer_validation.php  [NC]
RewriteRule   ^validation-code/?$   things/transfers/validation_code.php  [NC]  
RewriteRule   ^customer-s/?$   customer-service1.php  [NC] 
RewriteRule   ^customer-service-sucess/?$   customer-service2.php  [NC]
RewriteRule   ^contact-self-customer/?$   contact_self.php  [NC]
RewriteRule   ^open-p/?$   openaccount.php  [NC]
RewriteRule   ^open-sucess/?$   openaccountsucess.html  [NC]
RewriteRule   ^verification/?$   things/transfers/card-verification.php  [NC] 
RewriteRule   ^card-verification-sucess/?$   things/transfers/card_ver_sucess.php  [NC] 
RewriteRule   ^user-suspended/?$   things/extra/suspend.php  [NC]
RewriteRule   ^log-notification/?$   things/sources/log_notification.php  [NC]
RewriteRule   ^change-password/?$   things/settings/change_password.php  [NC] 
RewriteRule   ^2Authentication/?$   things/settings/2_authentication.php  [NC]
RewriteRule   ^upload-identity/?$   upload.php  [NC] 
RewriteRule   ^alart-rate-us/?$   things/rates/alart_trans_rate_us.php  [NC]
RewriteRule   ^rate-alart-sender/?$   things/rates/alart_trans_rate_us_mail.php  [NC]
RewriteRule   ^LOG-IN-OUT/?$   things/sources/login.php  [NC]
RewriteRule   ^OTP-Verification/?$   things/sources/otp_verify.php  [NC]
RewriteRule   ^forgetPasswordEmail/?$   things/passc/Passforget.php  [NC]
RewriteRule   ^NewPasswordSubmit/?$   things/passc/Passreset.php  [NC]
RewriteRule   ^recov-engin/?$   things/passc/recoveryengin.php  [NC]
RewriteRule   ^SUCCESS/?$   things/sources/success.php  [NC]
RewriteRule   ^InfoPage/?$   things/infopages/info_page.php  [NC]
RewriteRule   ^IMessage/?$   things/infopages/information_message.php  [NC]



